@charset "UTF-8";
@font-face {
  font-family: "proximanovabold";
  src: url("../fonts/proximanovabold.woff2") format("woff2"), url("../fonts/proximanovabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.page__body {
  position: relative;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  font-family: "proximanovaregular", sans-serif;
  font-size: 16px;
  line-height: 19.5px;
}

.product-characteristics {
  display: grid;
  padding: 0 0 38px;
  background-color: #cecece;
}
@media (min-width: 666px) and (max-width: 767px) {
  .product-characteristics {
    padding-bottom: 31px;
  }
}

.product-characteristics__button {
  justify-self: center;
  padding-right: 18px;
  padding-left: 18px;
  margin: 37px 0 0;
  font-size: 14px;
  letter-spacing: 0.05em;
}
@media (min-width: 666px) and (max-width: 767px) {
  .product-characteristics__button {
    margin-top: 33px;
  }
}

.specification {
  max-width: 586px;
  padding: 32px 29px 0 31px;
  margin-left: auto;
}
@media (min-width: 666px) and (max-width: 767px) {
  .specification {
    padding-top: 47px;
  }
}

.specification__heading {
  margin: 0 0 26px;
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.035em;
}
@media (min-width: 666px) and (max-width: 767px) {
  .specification__heading {
    margin-bottom: 30px;
    text-align: left;
  }
}

.specification__item {
  padding: 0 0 16px;
}

.specification__key {
  font-family: "proximanovabold", sans-serif;
  text-transform: uppercase;
}

.dimensions {
  padding: 32px 30px 0;
  text-align: center;
}

.dimensions__heading {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.035em;
}

.dimensions__image {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.gallery {
  color: #ffffff;
}

.gallery__item {
  display: grid;
  justify-items: center;
  align-items: center;
}

.gallery__img-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
}

.gallery__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.gallery__heading {
  z-index: 2;
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 440px;
  padding: 30px;
  margin: 28px 0 0;
  text-align: center;
  font-family: "proximasoftregular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.gallery .gallery__pagination {
  bottom: 16px;
}

.swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  border: 1px solid currentColor;
  margin: 6px;
  background-color: transparent;
  opacity: 1;
}

.swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: currentColor;
}

.section-heading {
  font-family: "proximasoftregular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.section-heading--center {
  text-align: center;
}

.section-heading__part {
  display: block;
  margin: 0 0 4px;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0;
}
@media (min-width: 666px) and (max-width: 767px) {
  .section-heading__part {
    margin-bottom: 6px;
  }
}

.gift-experience__item {
  display: grid;
  text-align: center;
  background-color: #cfd5da;
}

.gift-experience__item-content {
  z-index: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 480px;
  padding: 44px 37px 282px 41px;
  margin: 0 auto;
}
@media (min-width: 666px) and (max-width: 767px) {
  .gift-experience__item-content {
    padding-bottom: 482px;
  }
}

.gift-experience__item-content p {
  margin: 0 0 14px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .gift-experience__item-content p {
    margin-bottom: 33px;
  }
}

.gift-experience__heading {
  margin: 0 0 13px;
}

.gift-experience__link {
  padding-right: 34px;
  padding-left: 34px;
  margin: 0 0 23px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
@media (min-width: 666px) and (max-width: 767px) {
  .gift-experience__link {
    margin-bottom: 43px;
  }
}

.gift-experience__pagination {
  position: static;
}

.gift-experience__img-wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
}

.gift-experience__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.reference {
  display: grid;
  background-color: #bbcedd;
}

.reference__content {
  z-index: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  align-items: center;
  padding: 45px 29px 197px 31px;
  margin: 0 auto;
}
@media (min-width: 666px) and (max-width: 767px) {
  .reference__content {
    padding-top: 34px;
    padding-bottom: 330px;
  }
}

.reference__logo {
  width: 180px;
  margin: 0 0 11px;
}

.reference__heading {
  margin: 0 0 13px;
}

.reference__img-wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  text-align: center;
}

.reference__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.fade-text--lessen .fade-text__inner {
  max-height: 8.2em;
  color: transparent;
  background-image: linear-gradient(to top, transparent, #000 2em, #000);
  -webkit-background-clip: text;
  background-clip: text;
  overflow: hidden;
}

.fade-text__inner {
  margin: 0 0 16px;
}

.fade-text__inner p {
  margin: 0 0 10px;
}
.fade-text__inner p:last-child {
  margin-bottom: 0;
}

.fade-text__button {
  position: relative;
  padding: 0 26px 0 0;
  border: none;
  font-family: "proximanovaregular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: transparent;
}
.fade-text__button::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 6px;
  width: 7px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 6'%3E%3Cpolygon points='0,0 3.5,6 7,0'/%3E%3C/svg%3E");
}

.fade-text__button--less::after {
  transform: rotate(180deg);
}

.reference-2 {
  text-align: center;
  background-color: #ffffff;
}

.reference-2__item-content {
  max-width: 450px;
  padding: 73px 30px 19px 30px;
  margin: 0 auto;
}
@media (min-width: 666px) and (max-width: 767px) {
  .reference-2__item-content {
    padding-top: 187px;
    padding-bottom: 150px;
  }
}

.reference-2__heading {
  margin: 0 0 13px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .reference-2__heading {
    margin-bottom: 20px;
  }
}

.reference-2__item p {
  margin: 0 0 13px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .reference-2__item p {
    margin-bottom: 37px;
  }
}

.reference-2__link {
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 0 37px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
@media (min-width: 666px) and (max-width: 767px) {
  .reference-2__link {
    padding-right: 39px;
    padding-left: 39px;
    margin-bottom: 87px;
  }
}

.reference-2__pagination {
  position: static;
}

.reference-2__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.night-view {
  padding: 44px 0 0;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
@media (min-width: 666px) and (max-width: 767px) {
  .night-view {
    padding-top: 50px;
  }
}

.night-view__heading {
  position: relative;
  max-width: 410px;
  padding: 0 30px;
  margin: 0 auto 44px;
}
.night-view__heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -32px;
  width: 24px;
  height: 19px;
  background-color: #70f7e4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 19'%3E%3Cpolygon points='0,0 24,0 12,19'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 19'%3E%3Cpolygon points='0,0 24,0 12,19'/%3E%3C/svg%3E");
  transform: translateX(-50%);
}

.night-view__accent {
  color: #70f7e4;
}

.night-view__content {
  width: 300px;
  padding: 14px 20px 14px 20px;
  border: 1px solid #70f7e4;
  margin: 0 auto 23px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .night-view__content {
    width: 390px;
    margin-bottom: 35px;
  }
}

.night-view__content-item {
  margin: 0 0 14px;
}
.night-view__content-item:last-child {
  margin-bottom: 0;
}

.night-view__text {
  margin: 0;
  text-transform: uppercase;
  color: #70f7e4;
}

.night-view__key {
  display: inline;
  text-transform: uppercase;
}
.night-view__key::after {
  content: " // ";
}

.night-view__value {
  display: inline;
  color: #70f7e4;
}

.night-view__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.features__intro {
  display: grid;
}

.features__heading {
  margin: 0 0 11px;
}

.features__intro .features__heading {
  z-index: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 446px;
  padding: 44px 30px 20px 30px;
  margin-right: auto;
  margin-left: auto;
}

.features__intro .features__img-wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
}

.features__img-wrapper {
  display: block;
  text-align: center;
}

.features__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item:nth-child(odd) {
  background-color: #cecece;
}
.features__item:nth-child(5) {
  background-color: transparent;
}

.features__item-inner {
  max-width: 446px;
  padding: 38px 30px 20px 30px;
  margin: 0 auto 24px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .features__item-inner {
    padding-top: 42px;
    margin-bottom: 21px;
  }
}

.features__item--figure .features__item-inner {
  padding-top: 43px;
  padding-bottom: 0;
  margin-bottom: 13px;
}

.features__figcaption {
  max-width: 446px;
  padding: 0 30px 28px;
  margin: 0 auto;
  font-family: "proximasoftsemibold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.features__figcaption-item {
  margin: 0 0 11px;
}

.features__figcaption-key {
  display: inline;
}
.features__figcaption-key::after {
  content: " // ";
}

.features__figcaption-value {
  display: inline;
}

.videos {
  color: #ffffff;
}

.videos__item {
  position: relative;
}

.videos__heading {
  max-width: 460px;
  padding: 32px 30px 29px 36px;
  margin: 0 auto;
  color: #000000;
}
@media (min-width: 666px) and (max-width: 767px) {
  .videos__heading {
    padding-top: 44px;
    padding-bottom: 40px;
  }
}

.videos__wrapper {
  position: relative;
}

.videos__video {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.videos__button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 40px;
  height: 38px;
  border: none;
  border-radius: 50%;
  margin: 14px 0 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}
@media (min-width: 666px) and (max-width: 767px) {
  .videos__button {
    width: 59px;
    height: 59px;
    margin-top: 0;
  }
}

.videos__button::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/play-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
@media (min-width: 666px) and (max-width: 767px) {
  .videos__button::after {
    width: 29px;
    height: 29px;
  }
}

.videos .videos__pagination {
  bottom: 16px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .videos .videos__pagination {
    bottom: 21px;
  }
}

.people {
  text-align: center;
  background-color: #ffffff;
}

.people__heading {
  padding: 40px 30px;
  margin: 0;
}

.people__item {
  display: grid;
}

.people__content {
  order: 2;
  max-width: 470px;
  padding: 55px 30px 52px 30px;
  margin: 0 auto;
}
@media (min-width: 666px) and (max-width: 767px) {
  .people__content {
    padding-top: 211px;
    padding-bottom: 102px;
  }
}

.people__name {
  margin: 0 0 4px;
}

.people__post {
  margin: 0 0 8px;
  text-transform: uppercase;
}

.people__text {
  margin: 0 0 13px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .people__text {
    margin-bottom: 32px;
  }
}

.people__text--decorated {
  position: relative;
  padding: 34px 0 0;
}
.people__text--decorated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 22px;
  background-image: url("../img/quotes.svg");
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.people__link {
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 0 37px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
@media (min-width: 666px) and (max-width: 767px) {
  .people__link {
    margin-bottom: 141px;
  }
}

.people__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.people .people__pagination {
  bottom: 18px;
}

.main-banner {
  display: grid;
  color: #ffffff;
}

.main-banner__content {
  z-index: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}

.main-banner__logo {
  width: 128px;
  margin: 191px 0 11px;
}
@media (min-width: 666px) and (max-width: 767px) {
  .main-banner__logo {
    margin-top: 335px;
  }
}

.main-banner__heading {
  margin: 0 0 115px;
}

.main-banner__link {
  padding-right: 16px;
  padding-left: 16px;
  border-width: 1px;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.main-banner__img-wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  background-color: rgb(80, 99, 123);
}

.main-banner__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=product-page.css.map */
