.dimensions {
  padding: 38px 30px 0;
  text-align: center;

  @media (min-width: $mobile-width-only) {
    padding-top: 33px;
  }

  @media (min-width: $wide-tablet-width) {
    padding: 34px 12px 0 0;
  }

  @media (min-width: $tablet-width) {
    padding: 35px 0 0;
  }

  @media (min-width: $laptop-width) {
    padding: 49px 0 0;
  }

  @media (min-width: 2561px) {
    padding-top: calc(93px - (5120px - 100vw) * ((93 - 49) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 93px;;
  }
}

.dimensions__heading {
  margin: 0 0 40px;
  font-family: $accent-font-family;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.03em;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 66px;
    font-size: 24px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }

  @media (min-width: 2561px) {
    margin-bottom: calc(95px - (5120px - 100vw) * ((95 - 44) / 2560));
    font-size: 0.9375vw;
    line-height: 1.15234375vw;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 95px;
    font-size: 48px;
    line-height: 59px;
  }
}

.dimensions__image {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
