.fade-text--lessen .fade-text__inner {
  max-height: 8.2em;
  color: transparent;
  background-image: linear-gradient(to top, transparent, #000 2em, #000);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    max-height: 7.4em;
  }

  @media (min-width: $desktop-width) {
    max-height: 9.2em;
  }
}

.fade-text--lessen-alter .fade-text__inner {
  max-height: 8.2em;
}

.fade-text__inner {
  margin: 0 0 16px;

  @media (min-width: $laptop-width) {
    margin-bottom: 4px;
  }
}

.fade-text__button {
  position: relative;
  padding: 0 26px 0 0;
  border: none;
  font-family: $basic-font-family;
  font-size: 18px;
  line-height: 26px;
  color: $text-color;
  background-color: transparent;

  @media (min-width: $laptop-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.fade-text__button::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 6px;
  width: 7px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 6'%3E%3Cpolygon points='0,0 3.5,6 7,0'/%3E%3C/svg%3E");

  @media (min-width: $laptop-width) {
    right: 11px;
  }
}

.fade-text__button--less::after {
  transform: rotate(180deg);
}
