.fade-text--lessen .fade-text__inner {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  color: transparent;
  background-image: linear-gradient(to top, transparent, #000 2em, #000);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  overflow: hidden;
}

.fade-text__inner {
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 14px;
  }
}

.fade-text__button {
  position: relative;
  display: inline-block;
  padding: 0 26px 0 0;
  border: none;
  font-family: $basic-font-family;
  font-size: 18px;
  line-height: 26px;
  color: $text-color;
  background-color: transparent;

  @media (min-width: $laptop-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: 2561px) {
    font-size: 0.78125vw;
    line-height: 1.015625vw;
  }

  @media (min-width: 2561px) {
    padding-right: calc(52px - (5120px - 100vw) * ((52 - 26) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-right: 52px;
    font-size: 40px;
    line-height: 52px;
  }
}

.fade-text__button::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 6px;
  width: 7px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 6'%3E%3Cpolygon points='0,0 3.5,6 7,0'/%3E%3C/svg%3E");

  @media (min-width: $laptop-width) {
    right: 11px;
  }

  @media (min-width: 2561px) {
    top: calc(24px - (5120px - 100vw) * ((24 - 12) / 2560));
    width: calc(14px - (5120px - 100vw) * ((14 - 7) / 2560));
    height: calc(12px - (5120px - 100vw) * ((12 - 6) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    top: 24px;
    width: 14px;
    height: 12px;
  }
}

.fade-text__button--less::after {
  transform: rotate(180deg);
}
