.features__intro {
  display: grid;
}

.features__heading {
  margin: 0 0 11px;
}

.features__intro .features__heading {
  z-index: 2;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  max-width: 446px;
  padding: 44px 30px 20px 30px;
  margin-right: auto;
  margin-left: auto;
}

.features__intro .features__img-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.features__img-wrapper {
  display: block;
  text-align: center;
}

.features__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  &:nth-child(odd) {
    background-color: $background-secondary-color;
  }

  &:nth-child(5) {
    background-color: transparent;
  }
}

.features__item-inner {
  max-width: 446px;
  padding: 38px 30px 20px 30px;
  margin: 0 auto 24px;

  @media #{$narrow-tablet} {
    padding-top: 42px;
    margin-bottom: 21px;
  }
}


.features__item--figure .features__item-inner {
  padding-top: 43px;
  padding-bottom: 0;
  margin-bottom: 13px;
}

.features__figcaption {
  max-width: 446px;
  padding: 0 30px 28px;
  margin: 0 auto;
  font-family: $accent-font-family;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.features__figcaption-item {
  margin: 0 0 11px;
}

.features__figcaption-key {
  display: inline;

  &::after {
    content: "\A0//\A0";
  }
}

.features__figcaption-value {
  display: inline;
}
