.features__intro {
  display: grid;

  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 10px;
  }

  @media (min-width: $wide-tablet-width) {
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.features__heading {
  margin: 0 0 11px;

  @media(min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: 470px;
  }

  @media (min-width: $wide-desktop-2-width) {
    max-width: 900px;
    margin-bottom: 48px;
  }
}

.features__intro .features__heading {
  z-index: 2;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  max-width: 446px;
  padding: 44px 30px 20px 30px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $laptop-width) {
    max-width: none;
    margin-bottom: 0;
  }

  @media (min-width: $wide-desktop-width) {
    padding-top: 80px;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 160px;
  }
}

.features__intro .features__img-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.features__img-wrapper {
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.features__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 138px;
    padding-bottom: 113px;
    grid-template-columns: repeat(2, minmax(600px, 720px));
    justify-content: center;
  }

  @media (min-width: $wide-desktop-width) {
    padding-top: 90px;
    padding-bottom: 70px;
    grid-template-columns: repeat(2, minmax(720px, 1440px));
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 30px;
  }
}

.features__item:nth-child(odd) {
  background-color: $background-secondary-color;
}

.features__item:nth-child(even) .features__img-wrapper {
  @media(min-width: $tablet-width) {
    order: -1;
  }
}

.features__item:nth-child(5) {
  background-color: transparent;
}

.features__item-inner {
  max-width: 446px;
  padding: 38px 30px 20px 30px;
  margin: 0 auto 24px;

  @media #{$width-666} {
    padding-top: 42px;
    margin-bottom: 21px;
  }

  @media(min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 68px;
    margin-bottom: 0;
  }

  @media (min-width: $wide-tablet-width) {
    max-width: none;
    padding: 80px 56px 68px 58px;
  }

  @media (min-width: $laptop-width) {
    padding: 101px 40px 68px 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 140px 0px 146px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 46px 60px 0px 60px;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding: 359px 113px 51px 121px;
  }
}

.features__item-inner .fade-text .fade-text__inner {
  @media (min-width: $laptop-width) {
    margin-bottom: 18px;
  }
}

.features__item--figure {
  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 0 6px;
  }

  @media (min-width: $wide-tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 86px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-bottom: 39px;
  }
}

.features__item--figure .features__item-inner {
  padding-top: 43px;
  padding-bottom: 0;
  margin-bottom: 13px;

  @media(min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $wide-tablet-width) {
    padding-top: 45px;
    margin-bottom: 8px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-top: 95px;
    margin-bottom: 0;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 208px;
    margin-bottom: 0;
  }
}

.features__item--figure .features__heading {
  @media(min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: none;
    font-size: 48px;
    line-height: 48px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 140px;
    font-size: 96px;
    line-height: 96px;
  }
}

.features__item--figure .features__figure {
  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $wide-tablet-width) {
    padding-left: 24px;
  }

  @media (min-width: $laptop-width) {
    padding-left: 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, minmax(600px, 720px));
    justify-content: center;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: repeat(2, minmax(720px, 1440px));
  }
}

.features__figcaption {
  max-width: 446px;
  padding: 0 30px 28px;
  margin: 0 auto;
  font-family: $accent-font-family;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  @media(min-width: $tablet-width) {
    padding: 23px 18px 28px;
  }

  @media (min-width: $wide-tablet-width) {
    padding: 57px 9px 28px;
  }

  @media (min-width: $laptop-width) {
    padding: 43px 0px 28px;
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 619px;
    padding-top: 34px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-left: 34px;
    padding-bottom: 120px;
  }

  @media (min-width: $wide-desktop-2-width) {
    max-width: none;
    padding-bottom: 405px;
    margin-left: 0;
    font-size: 40px;
    line-height: 40px;
  }
}

.features__figcaption-item {
  margin: 0 0 11px;

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 21px;
  }
}

.features__figcaption-key {
  display: inline;

  &::after {
    content: "\A0//\A0";
  }
}

.features__figcaption-value {
  display: inline;
}
