.features__text-column {
  min-height: 275px;

  @media (min-width: $tablet-width) {
    display: flex;
    height: 100%;
    min-height: 333.5px;
    align-items: center;
  }
}

.features__intro {
  position: relative;
  text-align: center;
}

.features__heading {
  margin: 0 0 12px;

  @media(min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: 70%;
  }

  @media (min-width: 2561px) {
    margin-bottom: calc(48px - (5120px - 100vw) * ((48 - 20) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 48px;
  }
}

.features__intro .features__heading {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  padding: 46px 40px 20px;

  @media (min-width: $wide-tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 80px 100px 20px;
  }

  @media (min-width: 2561px) {
    padding-top: calc(160px - (5120px - 100vw) * ((160 - 80) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 160px;
  }
}

.features__img-column {
  display: block;
  text-align: center;
  align-self: center;

  @media (min-width: $tablet-width) {
    min-height: 333.5px;
  }
}

.features__img {
  display: block;
  max-width: 100%;
  height: auto;
  min-height: 275px;
}

.features__intro .features__img {
  @media (max-width: 665px) {
    width: 666px;
    height: 735px;
    object-fit: cover;
    object-position: center;
  }
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  box-sizing: content-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, minmax(600px, 720px));
    justify-content: center;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: repeat(2, calc(100% * 720 / 2560));
  }

  @media (min-width: 5120px) {
    grid-template-columns: repeat(2, 1440px);
  }
}

.features__item:nth-child(odd) {
  background-color: $background-secondary-color;
}

.features__item:nth-child(even) .features__img-column {
  @media(min-width: $tablet-width) {
    order: -1;
  }
}

.features__item:nth-child(5) {
  background-color: transparent;
}

.features__text-wrapper {
  max-width: 446px;
  padding: 38px 30px 38px 30px;
  margin: 0 auto;

  @media #{$width-666} {
    padding-top: 42px;
  }

  @media(min-width: $tablet-width) {
    padding-bottom: 42px;
  }

  @media (min-width: $wide-tablet-width) {
    max-width: none;
    padding: 77px 58px 83px 58px;
  }

  @media (min-width: $laptop-width) {
    padding: 72px 40px 58px 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 127px 140px 112px 146px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 120px 59px 120px 58px;
  }

  @media (min-width: 2561px) {
    padding-top: calc(240px - (5120px - 100vw) * ((240 - 120) / 2560));
    padding-right: calc(113px - (5120px - 100vw) * ((113 - 59) / 2560));
    padding-bottom: calc(272px - (5120px - 100vw) * ((272 - 120) / 2560));
    padding-left: calc(121px - (5120px - 100vw) * ((121 - 58) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    padding: 240px 113px 272px 121px;
  }
}

.features__text-wrapper .fade-text .fade-text__inner {
  @media (min-width: $laptop-width) {
    margin-bottom: 26px;
  }
}

.features__item--figure {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.features__item--figure .features__img-column {
  min-height: auto;
}

.features__item--figure .features__img {
  @media (min-width: 668px) and (max-width: 767px) {
    width: 100%;
    max-height: 333px;
    object-fit: cover;
    object-position: center top;
  }

  @media (min-width: 1025px) and (max-width: 1439px) {
    height: calc(688px - (1440px - 100vw) * ((688 - 432) / 416));
  }
}

.features__item--figure .features__text-wrapper {
  padding-top: 44px;
  padding-bottom: 0;
  margin-bottom: 12px;

  @media(min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $wide-tablet-width) {
    padding-top: 45px;
    margin-bottom: 7px;
  }

  @media (min-width: 769px) and (max-width: 1023px) {
    margin-bottom: calc(127px - (1023px - 100vw) * ((127 - 7) / 254));
  }

  @media (min-width: $laptop-width) {
    padding-top: 46px;
    margin-bottom: 127px;
  }

  @media (min-width: 1025px) and (max-width: 1439px) {
    margin-bottom: calc(80px + (1439px - 100vw) * ((127 - 80) / 414));
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-top: 95px;
    margin-bottom: 19px;
  }

  @media (min-width: 2561px) {
    padding-top: calc(198px - (5120px - 100vw) * ((198 - 95) / 2560));
    margin-bottom: calc(146px - (5120px - 100vw) * ((146 - 19) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 198px;
    margin-bottom: 146px;
  }
}

.features__item--figure .features__heading {
  @media(min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: none;
    font-size: 48px;
    line-height: 1;
  }

  @media (min-width: 2561px) {
    font-size: 1.875vw;
  }

  @media (min-width: $wide-desktop-2-width) {
    font-size: 96px;
  }
}

.features__item--figure .features__figure {
  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: calc(50% + 0.5px) 1fr;
  }

  @media (min-width: $wide-tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $laptop-width) {
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, minmax(600px, 720px));
    justify-content: center;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: repeat(2, calc(100% * 720 / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    grid-template-columns: repeat(2, 1440px);
  }
}

.features__figcaption {
  padding: 10px 29px 26px;
  font-family: $alter-font-family;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  @media(min-width: $tablet-width) {
    padding: 26px 18px 28px;
  }

  @media (min-width: $wide-tablet-width) {
    padding: 60px 21px 28px;
  }

  @media (min-width: $laptop-width) {
    padding: 30px 31px 112px;
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 52px 176px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-right: 35px;
    padding-left: 35px;
  }

  @media (min-width: 2561px) {
    padding-right: calc(0 + (5120px - 100vw) * ((35) / 2560));
    padding-bottom: calc(443px - (5120px - 100vw) * ((443 - 176) / 2560));
    padding-left: calc(84px - (5120px - 100vw) * ((84 - 35) / 2560));
    font-size: 0.78125vw;
    line-height: 1;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-right: 0;
    padding-bottom: 443px;
    padding-left: 84px;
    font-size: 40px;
  }
}

.features__figcaption-item {
  margin: 0 0 13px;

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 21px;
  }
}

.features__figcaption-key {
  display: inline;

  &::after {
    content: "\A0//";
  }
}

.features__figcaption-value {
  display: inline;
}
