.gift-experience__item {
  display: grid;
  text-align: center;
  background-color: $gift-experience-background-color;
}

.gift-experience__item-content {
  z-index: 2;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  max-width: 480px;
  padding: 44px 37px 282px 41px;
  margin: 0 auto;

  @media #{$narrow-tablet} {
    padding-bottom: 482px;
  }
}

.gift-experience__item-content p {
  margin: 0 0 14px;

  @media #{$narrow-tablet} {
    margin-bottom: 33px;
  }
}

.gift-experience__heading {
  margin: 0 0 13px;
}

.gift-experience__link {
  padding-right: 34px;
  padding-left: 34px;
  margin: 0 0 23px;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media #{$narrow-tablet} {
    margin-bottom: 43px;
  }
}

.gift-experience__pagination {
  position: static;
}

.gift-experience__img-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: end;
}

.gift-experience__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
