.main-banner {
  position: relative;
  min-height: 596px;
  color: $secondary-text-color;

  @media (min-width: 361px) {
    min-height: calc(1036px - (666px - 100vw) * ((1036 - 596) / 306));
  }

  @media (min-width: $mobile-width-only) {
    min-height: 1036px;
  }

  @media (min-width: $tablet-width) {
    min-height: 472px;
  }

  @media (min-width: 668px) {
    min-height: calc(543px - (768px - 100vw) * ((543 - 472) / 101));
  }

  @media (min-width: $wide-tablet-width) {
    min-height: 543px;
  }

  @media (min-width: 769px) {
    min-height: calc(668px - (1024px - 100vw) * ((668 - 543) / 256));
  }

  @media (min-width: $laptop-width) {
    min-height: 668px;
  }

  @media (min-width: 1025px) {
    min-height: calc(850px - (1440px - 100vw) * ((850 - 668) / 416));
  }

  @media (min-width: $desktop-width) {
    min-height: 850px;
  }

  @media (min-width: 1441px) {
    min-height: calc(1360px - (2560px - 100vw) * ((1360 - 850) / 1120));
  }

  @media (min-width: $wide-desktop-width) {
    min-height: 1360px;
  }

  @media (min-width: 2561px) {
    min-height: calc(2720px - (5120px - 100vw) * ((2720 - 1360) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    min-height: 2720px;
  }
}

.main-banner__content {
  padding: 30px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 280px;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $laptop-width) {
    max-width: 400px;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: none;
    justify-content: center;
  }
}

.main-banner__logo {
  width: 128px;
  margin: 191px 0 11px;

  @media #{$width-666} {
    margin-top: 335px;
  }

  @media (min-width: $tablet-width) {
    width: 184px;
    margin-top: 0;
    margin-bottom: 46px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $laptop-width) {
    width: 260px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 99px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 42px;
  }

  @media (min-width: 2561px) {
    width: calc(515px - (5120px - 100vw) * ((515 - 260) / 2560));
    margin-bottom: calc(90px - (5120px - 100vw) * ((90 - 42) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    width: 515px;
    margin-bottom: 90px;
  }
}

.main-banner__heading {
  margin: 0 0 115px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin: 204px 0 10px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-top: 241px;
  }

  @media (min-width: $laptop-width) {
    margin-top: 303px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 393px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 225px;
    margin-bottom: 22px;
  }

  @media (min-width: 2561px) {
    margin-top: calc(450px - (5120px - 100vw) * ((450 - 225) / 2560));
    margin-bottom: calc(46px - (5120px - 100vw) * ((46 - 22) / 2560));
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-top: 450px;
    margin-bottom: 46px;
  }
}

.main-banner .main-banner__heading {
  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 1;
  }

  @media (min-width: $laptop-width) {
    font-size: 36px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 48px;
  }

  @media (min-width: 2561px) {
    font-size: 1.875vw;
  }

  @media (min-width: $wide-desktop-2-width) {
    font-size: 96px;
  }
}

.main-banner__link {
  padding-right: 16px;
  padding-left: 16px;
  border-width: 1px;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $laptop-width) {
    padding-right: 29px;
    padding-left: 29px;
  }

  @media (min-width: 1898px) {
    min-width: 142px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 45px;
    line-height: 32px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 0;
  }

  @media (min-width: 2561px) {
    height: calc(72px - (5120px - 100vw) * ((72 - 36) / 2560));
    max-height: 72px;
    padding-right: calc(70px - (5120px - 100vw) * ((70 - 29) / 2560));
    padding-left: calc(70px - (5120px - 100vw) * ((70 - 29) / 2560));
    font-size: 0.546875vw;
    line-height: 1.30859375vw;
  }

  @media (min-width: $wide-desktop-2-width) {
    height: 72px;
    padding-right: 70px;
    padding-left: 70px;
    font-size: 28px;
    line-height: 67px;
  }
}

.main-banner__img-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(80, 99, 123);
}

.main-banner__img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
