.night-view {
  padding: 44px 0 0;
  text-align: center;
  color: $secondary-text-color;
  background-color: $night-view-background-color;

  @media #{$width-666} {
    padding-top: 50px;
  }
}

.night-view__heading {
  position: relative;
  max-width: 410px;
  padding: 0 30px;
  margin: 0 auto 44px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -32px;
    width: 24px;
    height: 19px;
    background-color: $night-view-accent-color;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 19'%3E%3Cpolygon points='0,0 24,0 12,19'/%3E%3C/svg%3E");
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    max-width: 534px;
  }
}

.night-view__accent {
  color: $night-view-accent-color;
}

.night-view__content {
  width: 300px;
  padding: 14px 20px 14px 20px;
  border: 1px solid $night-view-accent-color;
  margin: 0 auto 23px;

  @media #{$width-666} {
    width: 390px;
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    width: 534px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 10px 17px 10px 20px;
    font-size: 16px;
    line-height: 18.5px;
  }
}

.night-view__content-item {
  margin: 0 0 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.night-view__content-item:nth-child(odd) {
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.night-view__content-item:nth-child(even) {
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.night-view__text {
  margin: 0;
  text-transform: uppercase;
  color: $night-view-accent-color;
}


.night-view__key {
  display: inline;
  text-transform: uppercase;

  &::after {
    content: "\A0//\A0";
  }
}

.night-view__value {
  display: inline;
  color: $night-view-accent-color;
}

.night-view__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
