.night-view {
  padding: 44px 0 0;
  text-align: center;
  color: $secondary-text-color;
  background-color: $night-view-background-color;

  @media #{$width-666} {
    padding-top: 50px;
  }

  @media (min-width: $laptop-width) {
    padding-top: 46px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-top: 118px;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 200px;
  }
}

.night-view__heading {
  position: relative;
  max-width: 410px;
  padding: 0 30px;
  margin: 0 auto 44px;

  @media (min-width: $tablet-width) {
    max-width: 534px;
  }

  @media (min-width: $laptop-width) {
    max-width: none;
    margin-bottom: 66px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 109px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 218px;
  }
}

.night-view__heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -32px;
  width: 24px;
  height: 19px;
  background-color: $night-view-accent-color;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 19'%3E%3Cpolygon points='0,0 24,0 12,19'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  transform: translateX(-50%);

  @media (min-width: $laptop-width) {
    bottom: -45px;
    width: 30px;
    height: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    bottom: -77px;
    width: 52px;
    height: 40px;
  }

  @media (min-width: $wide-desktop-2-width) {
    bottom: -149px;
    width: 100px;
    height: 80px;
  }
}

.night-view .night-view__heading {
  @media (min-width: $laptop-width) {
    letter-spacing: 0.04em;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 48px;
    line-height: 48px;
  }

  @media (min-width: $wide-desktop-2-width) {
    font-size: 96px;
    line-height: 96px;
  }
}

.night-view__accent {
  color: $night-view-accent-color;
}

.night-view__content {
  width: 300px;
  padding: 14px 20px 14px 20px;
  border: 1px solid $night-view-accent-color;
  margin: 0 auto 23px;

  @media #{$width-666} {
    width: 390px;
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    width: 534px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 10px 17px 10px 20px;
    font-size: 16px;
    line-height: 18.5px;
  }

  @media (min-width: $laptop-width) {
    width: 750px;
    padding: 8px 24px 13px 26px;
    border-width: 2px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 874px;
    padding: 28px 50px 38px 41px;
    margin-bottom: 70px;
  }

  @media (min-width: $wide-desktop-2-width) {
    width: 1754px;
    padding: 63px 102px 71px 86px;
    border-width: 3.5px;
    margin-bottom: 187px;
    font-size: 40px;
    line-height: 52px;
  }
}

.night-view__content-item {
  margin: 0 0 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.night-view__content-item:nth-child(odd) {
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.night-view__content-item:nth-child(even) {
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.night-view__text {
  margin: 0;
  text-transform: uppercase;
  color: $night-view-accent-color;
}


.night-view__key {
  display: inline;
  text-transform: uppercase;

  &::after {
    content: "\A0//\A0";
  }
}

.night-view__value {
  display: inline;
  color: $night-view-accent-color;
}

.night-view__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
