.people {
  text-align: center;
  background-color: $secondary-text-color;
}

.people__heading {
  padding: 40px 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.people__item {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $wide-desktop-width) {
    padding-top: 154px;
    padding-bottom: 154px;
    grid-template-columns: repeat(2, minmax(600px, 720px));
    justify-content: center;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding: 308px 0;
    grid-template-columns: repeat(2, minmax(720px, 1440px));
  }
}

.people__content {
  order: 2;
  max-width: 470px;
  padding: 55px 30px 52px 30px;
  margin: 0 auto;

  @media #{$width-666} {
    padding-top: 211px;
    padding-bottom: 102px;
  }

  @media (min-width: $tablet-width) {
    padding: 43px 34px 40px;
  }

  @media (min-width: $wide-tablet-width) {
    padding: 50px 59px 52px 59px;
  }

  @media (min-width: $laptop-width) {
    padding-top: 65px;
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $wide-desktop-2-width) {
    max-width: 1280px;
    padding-bottom: 155px;
  }
}

.people__name {
  margin: 0 0 4px;

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 1px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 3px;
  }
}

.people__post {
  margin: 0 0 8px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24.3px;
    letter-spacing: 0.03em;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 30px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 29px;
    font-size: 48px;
    line-height: 58px;
  }
}

.people__text {
  margin: 0 0 13px;

  @media #{$width-666} {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 57px;
  }
}

.people__text--decorated {
  position: relative;
  padding: 34px 0 0;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: $wide-tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $laptop-width) {
    padding-top: 54px;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 110px;
  }
}

.people__text--decorated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 22px;
  background-image: url("../img/quotes.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 29px;
  }

  @media (min-width: $laptop-width) {
    width: 55px;
    height: 39px;
  }

  @media (min-width: $wide-desktop-2-width) {
    width: 109px;
    height: 80px;
  }
}

.people__link {
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 0 37px;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media #{$width-666} {
    margin-bottom: 141px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $wide-tablet-width) {
    padding-right: 29px;
    padding-left: 29px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }

  @media (min-width: 1898px) {
    min-width: 142px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 45px;
    line-height: 32px;
  }

  @media (min-width: $wide-desktop-2-width) {
    height: 72px;
    padding-right: 70px;
    padding-left: 70px;
    margin-bottom: 90px;
    font-size: 28px;
    line-height: 67px;
  }
}

.people__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.people .people__pagination {
  bottom: 18px;

  @media (min-width: $tablet-width) {
    right: 0;
    bottom: 10px;
    left: auto;
    width: 50%;
  }

  @media (min-width: $wide-tablet-width) {
    bottom: 16px;
  }

  @media (min-width: $laptop-width) {
    position: static;
    width: 100%;
  }
}

.people .people__button {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.people .people__button--prev {
  color: $secondary-text-color;

  @media (min-width: $wide-desktop-width) {
    color: $text-color;
  }
}

.people .people__button--next {
  @media (min-width: $wide-desktop-width) {
    right: 535px;
  }

  @media (min-width: $wide-desktop-2-width) {
    right: 1043px;
  }
}
