.people {
  text-align: center;
  background-color: $secondary-text-color;
}

.people__heading {
  padding: 40px 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.people__item {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.people__content {
  order: 2;
  max-width: 470px;
  padding: 55px 30px 52px 30px;
  margin: 0 auto;

  @media #{$width-666} {
    padding-top: 211px;
    padding-bottom: 102px;
  }

  @media (min-width: $tablet-width) {
    padding: 43px 34px 40px;
  }

  @media (min-width: $wide-tablet-width) {
    padding: 50px 59px 52px 59px;
  }
}

.people__name {
  margin: 0 0 4px;

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 1px;
  }
}

.people__post {
  margin: 0 0 8px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24.3px;
    letter-spacing: 0.03em;
  }
}

.people__text {
  margin: 0 0 13px;

  @media #{$width-666} {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 21px;
  }
}

.people__text--decorated {
  position: relative;
  padding: 34px 0 0;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: $wide-tablet-width) {
    padding-top: 46px;
  }
}

.people__text--decorated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 22px;
  background-image: url("../img/quotes.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 29px;
  }
}

.people__link {
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 0 37px;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media #{$width-666} {
    margin-bottom: 141px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $wide-tablet-width) {
    padding-right: 29px;
    padding-left: 29px;
  }
}

.people__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.people .people__pagination {
  bottom: 18px;

  @media (min-width: $tablet-width) {
    right: 0;
    bottom: 10px;
    left: auto;
    width: 50%;
  }

  @media (min-width: $wide-tablet-width) {
    bottom: 16px;
  }
}

.people .people__button {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.people .people__button--prev {
  color: $secondary-text-color;
}
