.product-characteristics {
  display: grid;
  padding: 0 0 38px;
  font-size: 16px;
  line-height: 19.5px;
  background-color: $background-secondary-color;

  @media #{$width-666} {
    padding-bottom: 31px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
    grid-template-columns: 1fr 1fr;
  }
}

.product-characteristics__button {
  justify-self: center;
  padding-right: 18px;
  padding-left: 18px;
  margin: 37px 0 0;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media #{$width-666} {
    margin-top: 33px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    margin-top: 12px;
  }
}
