.product-characteristics {
  display: grid;
  padding: 0 0 38px;
  background-color: $background-secondary-color;

  @media #{$narrow-tablet} {
    padding-bottom: 31px;
  }
}

.product-characteristics__button {
  justify-self: center;
  padding-right: 18px;
  padding-left: 18px;
  margin: 37px 0 0;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media #{$narrow-tablet} {
    margin-top: 33px;
  }
}
