.reference {
  position: relative;
}

.reference__content {
  display: flex;
  max-width: 450px;
  flex-direction: column;
  align-items: center;
  padding: 45px 29px 208px 31px;
  margin: 0 auto;

  @media (min-width: 361px) {
    padding-bottom: 340px;
  }

  @media #{$width-666} {
    padding-top: 34px;
    padding-bottom: 419px;
  }

  @media (min-width: $tablet-width) {
    max-width: none;
    padding-bottom: 459px;
    text-align: center;
  }

  @media (min-width: $wide-tablet-width) {
    padding-bottom: 461px;
  }

  @media (min-width: $wide-tablet-width) {
    max-width: 670px;
  }

  @media (min-width: $laptop-width) {
    padding: 46px 36px 450px 32px;
  }

  @media (min-width: 1025px) {
    padding-bottom: 640px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 606px;
  }

  @media (min-width: 1441px) {
    padding-bottom: 870px;
  }

  @media (min-width: 2700px) {
    padding-bottom: 1400px;
  }

  @media (min-width: 4200px) {
    padding-bottom: 1800px;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 75px;
    max-width: 1300px;
  }
}

.reference__logo {
  width: 180px;
  margin: 0 0 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $laptop-width) {
    width: 258px;
    margin-bottom: 20px;
  }

  @media (min-width: $wide-desktop-2-width) {
    width: 500px;
    margin-bottom: 39px;
  }
}

.reference__heading {
  margin: 0 0 13px;

  @media (min-width: $laptop-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 45px;
  }
}

.reference__img-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #bbcedd;

  @media (min-width: $tablet-width) {
    background-color: #cbd4dd;
  }

  @media (min-width: $desktop-width) {
    background-color: #c9d3db;
  }
}

.reference__img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}
