.reference-2 {
  text-align: center;
  background-color: $secondary-text-color;
}

.reference-2__item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 154px 0;
    grid-template-columns: repeat(2, minmax(600px, 720px));
    justify-content: center;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding: 308px 0;
    grid-template-columns: repeat(2, minmax(720px, 1440px));
  }
}

.reference-2__item-content {
  max-width: 450px;
  padding: 73px 30px 19px 30px;
  margin: 0 auto;

  @media #{$width-666} {
    padding-top: 187px;
    padding-bottom: 150px;
  }

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 27px 28px 0;
  }

  @media (min-width: $wide-tablet-width) {
    padding: 50px 54px 0;
  }

  @media (min-width: $laptop-width) {
    padding: 92px 67px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    max-width: 650px;
    padding-top: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $wide-desktop-2-width) {
    max-width: 1170px;
    padding-top: 219px;
    padding-bottom: 200px;
  }
}

.reference-2__heading {
  margin: 0 0 13px;

  @media #{$width-666} {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 44px;
  }
}

.reference-2__item p {
  margin: 0 0 13px;

  @media #{$width-666} {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 60px;
  }
}

.reference-2__link {
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 0 37px;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media #{$width-666} {
    padding-right: 39px;
    padding-left: 39px;
    margin-bottom: 87px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $laptop-width) {
    padding-right: 34px;
    padding-left: 34px;
    margin-bottom: 44px;
  }

  @media (min-width: 1898px) {
    min-width: 142px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 45px;
    line-height: 32px;
  }

  @media (min-width: $wide-desktop-2-width) {
    height: 72px;
    padding-right: 70px;
    padding-left: 70px;
    margin-bottom: 93px;
    font-size: 28px;
    line-height: 67px;
  }
}

.reference-2__pagination {
  position: static;
}

.reference-2__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.reference-2 .reference-2__button {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.reference-2 .reference-2__button--prev {
  color: $secondary-text-color;

  @media (min-width: $wide-desktop-width) {
    color: $text-color;
  }
}

.reference-2  .reference-2__button--next {
  @media (min-width: $wide-desktop-width) {
    right: 535px;
  }

  @media (min-width: $wide-desktop-2-width) {
    right: 1043px;
  }
}
