.reference {
  display: grid;
  background-color: #bbcedd;

  @media (min-width: $tablet-width) {
    background-color: #cbd4dd;
  }

  @media (min-width: $desktop-width) {
    background-color: #c9d3db;
  }
}

.reference__content {
  z-index: 2;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  align-items: center;
  padding: 45px 29px 197px 31px;
  margin: 0 auto;

  @media #{$width-666} {
    padding-top: 34px;
    padding-bottom: 330px;
  }

  @media (min-width: $tablet-width) {
    max-width: none;
    padding-bottom: 440px;
    text-align: center;
  }

  @media (min-width: $wide-tablet-width) {
    max-width: 670px;
  }

  @media (min-width: $laptop-width) {
    padding: 46px 36px 420px 32px;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-top: 75px;
    max-width: 1300px;
  }
}

.reference__logo {
  width: 180px;
  margin: 0 0 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $laptop-width) {
    width: 258px;
    margin-bottom: 20px;
  }

  @media (min-width: $wide-desktop-2-width) {
    width: 500px;
    margin-bottom: 39px;
  }
}

.reference__heading {
  margin: 0 0 13px;

  @media (min-width: $laptop-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 45px;
  }
}

.reference__img-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: end;
  text-align: center;
}

.reference__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
