.reference-2 {
  text-align: center;
  background-color: $secondary-text-color;
}

.reference-2__item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.reference-2__item-content {
  max-width: 450px;
  padding: 73px 30px 19px 30px;
  margin: 0 auto;

  @media #{$width-666} {
    padding-top: 187px;
    padding-bottom: 150px;
  }

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 27px 28px 0;
  }

  @media (min-width: $wide-tablet-width) {
    padding: 50px 54px 0;
  }
}

.reference-2__heading {
  margin: 0 0 13px;

  @media #{$width-666} {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 20px;
  }
}

.reference-2__item p {
  margin: 0 0 13px;

  @media #{$width-666} {
    margin-bottom: 37px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 21px;
  }
}

.reference-2__link {
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 0 37px;
  font-size: 14px;
  letter-spacing: 0.05em;

  @media #{$width-666} {
    padding-right: 39px;
    padding-left: 39px;
    margin-bottom: 87px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 13px;
  }
}

.reference-2__pagination {
  position: static;
}

.reference-2__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.reference-2 .reference-2__button {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.reference-2 .reference-2__button--prev {
  color: $secondary-text-color;
}
