.section-heading {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;

  &--center {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 26px;
  }

  @media (min-width: $laptop-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 2561px) {
    font-size: 1.40625vw;
    line-height: 1.40625vw;
  }

  @media (min-width: $wide-desktop-2-width) {
    font-size: 72px;
    line-height: 72px;
  }
}

.section-heading__part {
  display: block;
  margin: 0 0 4px;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0;

  @media #{$width-666} {
    margin-bottom: 6px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 1px;
    letter-spacing: 0.03em;
  }

  @media (min-width: $laptop-width) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 20px;
  }

  @media (min-width: 2561px) {
    margin-bottom: calc(40px - (5120px - 100vw) * ((40 - 20) / 2560));
    font-size: 0.9375vw;
    line-height: 1.1328125vw;
  }

  @media (min-width: $wide-desktop-2-width) {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 58px;
  }
}
