.section-heading {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;

  &--center {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.section-heading__part {
  display: block;
  margin: 0 0 4px;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0;

  @media #{$width-666} {
    margin-bottom: 6px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 1px;
    letter-spacing: 0.03em;
  }
}
