.specification {
  max-width: 586px;
  padding: 32px 29px 0 31px;
  margin-left: auto;

  @media #{$width-666} {
    padding-top: 47px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $wide-tablet-width) {
    padding-top: 34px;
    padding-bottom: 52px;
    padding-left: 37px;
  }
}

.specification::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 115px;
    right: 0;
    bottom: 22px;
    width: 1px;
    background-color: $border-color;
  }
}

.specification__heading {
  margin: 0 0 26px;
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.035em;

  @media #{$width-666} {
    margin-bottom: 30px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-bottom: 75px;
  }
}

.specification__item {
  padding: 0 0 16px;

  @media (min-width: $wide-tablet-width) {
    padding-bottom: 14px;
  }
}

.specification__key {
  font-family: $additional-font-family;
  text-transform: uppercase;
}
