.videos {
  color: $secondary-text-color;
}

.videos__item {
  position: relative;
}

.videos__heading {
  max-width: 460px;
  padding: 32px 30px 29px 36px;
  margin: 0 auto;
  color: $text-color;

  @media #{$width-666} {
    padding-top: 44px;
    padding-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: none;
    padding: 15px 32px 38px 32px;
    color: $secondary-text-color;
  }

  @media (min-width: $wide-tablet-width) {
    max-width: none;
    padding: 15px 32px 28px 39px;
  }

  @media (min-width: $laptop-width) {
    padding: 23px 30px 57px 38px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-bottom: 113px;
    padding-left: 640px;
  }

  @media (min-width: $wide-desktop-2-width) {
    padding-bottom: 294px;
    padding-left: 1195px;
  }
}

.videos__wrapper {
  position: relative;
}

.videos__video {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.videos__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 40px;
  height: 38px;
  border: none;
  border-radius: 50%;
  margin: 14px 0 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);

  @media #{$width-666} {
    width: 59px;
    height: 59px;
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    width: 45px;
    height: 45px;
    margin-top: -25px;
  }

  @media (min-width: $wide-tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: $laptop-width) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $wide-desktop-width) {
    top: 50.7%;
    width: 154px;
    height: 154px;
  }

  @media (min-width: $wide-desktop-2-width) {
    top: 50.7%;
    width: 294px;
    height: 278px;
  }
}

.videos__play-button::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/play-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  @media #{$width-666} {
    width: 29px;
    height: 29px;
  }

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 25px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 70px;
    height: 64px;
  }

  @media (min-width: $wide-desktop-2-width) {
    width: 153px;
    height: 137px;
  }
}

.videos .videos__pagination {
  bottom: 16px;

  @media #{$width-666} {
    bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.videos .videos__button {
  top: 47%;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $wide-tablet-width) {
    top: 50%;
  }
}
