// Fonts

$basic-font-family: "proximanovaregular", sans-serif;
$additional-font-family: "proximanovabold", sans-serif;
$secondary-font-family: "proximasoftregular", sans-serif;

// Colors

$background-secondary-color: #cecece;
$night-view-background-color: #000000;
$night-view-accent-color: #70f7e4;
$secondary-text-color: #ffffff;
$swiper-bullets-color: #000000;
$gift-experience-background-color: #cfd5da;
$reference-background-color: #bbcedd;
